
@font-face {
    font-family: 'GoudyMedievalAlternate';
    src: url("tff/Goudy-Medieval-Alternate.ttf") format('truetype');
}
@font-face {
    font-family: 'DeathFromAbove';
    src: url("tff/DeathFromAboveDEMO.ttf") format('truetype');
}
#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
body::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(51, 51, 51, .3);
    z-index: -1;
}
.robot-details {
    background-color: transparent;
    border-radius: 10px;
    position: absolute;
    left: 40%;
    width: 20%;
    font-size: 100%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    padding: 10px;
    color: rgba(255, 255, 255, 1);
    font-weight: 1700;
    animation: fadeIn 2s ease-in-out, grow 5s infinite alternate;
    text-align: center;
    font-family: 'GoudyMedievalAlternate', sans-serif;
}

header {
    color: #fff;
    text-align: center;
   /* padding: 5px;
    margin-bottom: 20px; enti ou jaw*/
    font-family: 'DeathFromAbove', sans-serif;
    font-size: 180%;
    letter-spacing: 2px;
    
}
#btn {
    width: 35%;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 10px;
    background: linear-gradient(to bottom, #716c6c, #a30404); /* Couleur de fond d'origine */
    color: #eae6e6;
    font-family: 'GoudyMedievalAlternate', sans-serif;
    font-weight: bold;
    transition: background 3s ease-in-out;
    cursor: pointer;
}

#btn:hover {
    background: linear-gradient(to bottom, rgba(113, 108, 108, 1), rgba(163, 4, 4, 0.7));
}


@keyframes burn {
    0% {
      text-shadow: 0 0 10px  #FF0000;
    }
    50% {
      text-shadow: 0 0 20px #FF0000, 0 0 30px #FF0000, 0 0 40px #FF0000, 0 0 50px #FF0000, 0 0 60px #FF0000;
    }
    100% {
      text-shadow: 0 0 10px #FF0000;
    }
  }

  @keyframes burn1 {
    0% {
      text-shadow: 0 0 10px  #00FF00;
    }
    50% {
      text-shadow: 0 0 20px #00FF00, 0 0 30px #00FF00, 0 0 40px #00FF00, 0 0 50px #00FF00, 0 0 60px #00FF00;
    }
    100% {
      text-shadow: 0 0 10px #00FF00;
    }
  }
#res{
    font-size: 200%;
    animation: all 3s ease-in-out ,burn 1s ease-in-out infinite alternate ;
}
#res1{
    font-size: 200%;
    animation: all 3s ease-in-out ,burn1 1s ease-in-out infinite alternate ;
}
@keyframes grow {
    from {
        transform: scale(1) translateY(0);
    }
    to {
        transform: scale(1.3) translateY(10%);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.logo{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 130px;
    
    animation: fadeIn2 6s infinite;
}

.first{
    
    animation: first 3s ease-in-out ;
}

@keyframes first {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
.second,
.third,
.fourth,
.fifth,
.sixth,
.seventh
{
    animation: all 3s ease-in-out ;

}
@keyframes all {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes fadeIn2 {
    0% {
        opacity: 0;
        
    }
    50% {
        opacity: 1;
        
    }
    100% {
        opacity: 0;
        
    }
}